{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>

<div class="container">
<div class="card">
  <h5 class="card-header">My Events: </h5>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 my-3 d-flex align-items-stretch">
  {% for e in events %}
  
	{% if request.user == e.organizer %}
	  <div class="card-body">
	    <h5 class="card-title">{{e.title}}</h5>
	        <p class="card-text">{{e.seats}}</p>
	       

	    <a href="{% url 'detail' e.id %}" class="btn btn-primary">More Details</a>
	  </div>
	{%endif%} 
  {% endfor %}
</div>
</div>
</div>





<div class="container">
<div class="card">
  <h5 class="card-header">Upcoming Reserved Events: </h5>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 my-3 d-flex align-items-stretch">

	{% for e in up %}

	{% if request.user == e.user %}
   <div class="card-body">
    <h5 class="card-title" style="color: 000034;">{{e.event}}</h5>
    <p class="card-text" style="color: 000034;">{{e.event.date}}</p>
    <p class="card-text" style="color: 000034;">{{e.event.time}}</p>
    <a href="{% url 'detail' e.event.id %}" class="btn btn-primary">More Details</a>
</div>
{%endif%} 
    {% endfor %}

</div>
</div>
</div>




<div class="container">
<div class="card">
  <h5 class="card-header">Previous Events: </h5>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 my-3 d-flex align-items-stretch">
  {% for e in pre %}

    {% if request.user == e.user %}
      <div class="card-body">
        <h5 class="card-title" style="color: 000034;">{{e.event}}</h5>
    <p class="card-text" style="color: 000034;">{{e.event.date}}</p>
    <p class="card-text" style="color: 000034;">{{e.event.time}}</p>
        <a href="{% url 'detail' e.event.id %}" class="btn btn-primary">More Details</a>
      </div>
    {%endif%} 
  {% endfor %}
</div>
</div>
</div>


<div class="container">
<a href="{% url 'create'%}" class="btn btn-primary btn-block">Create</a>
</div>


{% endblock content %}