{% extends "base.html" %}

{% block content %}

<header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="/static/img/whiteevented.png" alt="" title=""></a>
      </div>

  
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
    
    </div>
  </section>

  <main id="main">




<header class="masthead text-center text-white">






<div class="container baaack">

<br>

<div class="container">

<form action="{% url 'home' %}" method="GET">

<div class="input-group mb-3">
  <input type="text" class="form-control" value="{{request.GET.q}}" name='q' placeholder="Search Here!" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
  </div>

</div>
</form>

</div>







<!--==========================
      events Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header" >
          <h2 style="color: white;">Upcoming Events:</h2>

        </div>

        <div class="row">
           {% for e in events %}
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
               {% if e.logo %}
              <img src="{{e.logo.url}}" alt="#" class="img-fluid" style="height:250px">
              {% endif %}
              <div class="details">
                <h3><a href="{% url 'detail' e.id %}">{{e.title|title}}</a></h3>

                
      <p class="card-text" style="color: white;"><b>Date:</b> {{e.date}}</p>
                <p class="card-text" style="color: white;"><b>Location:</b> {{e.location}}</p>
              </div>
            </div>
          </div>




 {% endfor %}

</div>
</div>



{% endblock %}



