{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<br>
<br>
<br>
<br>
<!--
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.first_name }}</p>
          <p class="text-secondary">{{ user.last_name }}</p>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
-->

      <!-- FORM HERE -->

<div class="container">
            <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group" style="color: white;">
              <legend class="border-bottom mb-4" style="color: white;">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-dark" type="submit">Update</button>
          </div>

      </form>


    </div>

</div>
    
{% endblock content %}